html, body{
    height: 100%;
    margin: 0;
}

#button-div {
    display:flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

button {
    height: 50px;
    width: 100px;
    margin: auto 10px;
}